Package: software-properties-kde
Source: xentasources
Version: 1.7.0+xentaos2
Architecture: all
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Installed-Size: 11
Depends: xentasources
Section: admin
Priority: optional
Homepage: https://github.com/xentaoslinux/xentasources
Description: Paket Pasangan xentasources
 Paket ini sudah usang dan diganti dengan xentasources.
